{% load i18n %}


<div class="panel panel-default members" id="{{ table.slugify_name }}" data-pagination-url="{% url 'fiware_complex_server_filters_users' %}" data-application-id="{{ application.id }}" data-pagination-pages="{{ table.pages }}">
  <div class="panel-heading">
    {% block table_heading %}
      <span>{{ table }}</span>
      {{ table.render_table_actions }}
    {% endblock %}
  </div>
  <div class="panel-body">
    {% block table_body %}
      {% if table.get_rows %}
        <div class="list-group" id="{{ table.slugify_name }}">
          {% for row in table.get_rows %}
            {{ row.render }}
          {% endfor %}
        </div>
      {% else %}
        <p class="alert alert-info empty">{{ table.empty_message }}</p>
      {% endif %}
    {% endblock %}
  </div>
  <div class="panel-footer">
    {% block table_footer %}
      <nav id="{{table.slugify_name}}_pagination_container">
    {% endblock %}
  </div>
</div>
