{% load i18n %}
{% with table.needs_form_wrapper as needs_form_wrapper %}
  {% with columns=table.get_columns rows=table.get_rows %}  
    <div class="list-group" id="{{ table.slugify_name }}">
      {% for row in rows %}
        {{ row.render }}
      {% endfor %}
    </div>
  
  {% if table.indexes|length > 1 %}
  <div class="panel-footer">
    {% if table.name = 'organizations' %}
      {% for index in table.indexes %}
        <a href="?index_org={{index}}?index_app={{index_app}}">-{{ forloop.counter }}-</a>
      {% endfor %}
    {% elif table.name = 'organizations' %}
      {% for index in table.indexes %}
        <a href="?index_app={{index}}?index_org={{index_org}}">-{{ forloop.counter }}-</a>
      {% endfor %}
    {% else %}
      {% for index in table.indexes %}
        <a href="?index={{index}}">-{{ forloop.counter }}-</a>
      {% endfor %}
    {% endif %}
  </div>
  {% endif %}
  {% endwith %}
{% endwith %}
