/************* typography*******/


@font-face {
  font-family: "NeoTechRegular";
  font-style: normal;
  src: url('../fonts/neotechstd/neotechstd-regular.eot');
    src: url('../fonts/neotechstd/neotechstd-regular.eot') format('embedded-opentype'),
         url('../fonts/neotechstd/neotechstd-regular.woff') format('woff'),
         url('../fonts/neotechstd/neotechstd-regular.ttf') format('truetype'),
         url('../fonts/neotechstd/neotechstd-regular.svg#NeoTechStdMedium') format('svg');
}


@font-face {
  font-family: "NeoTechMedium";
  font-style: normal;
  src: url('..fonts/neotechstd/neotechstd-medium.eot');
    src: url('..fonts/neotechstd/neotechstd-medium.eot') format('embedded-opentype'),
         url('../fonts/neotechstd/neotechstd-medium.woff') format('woff'),
         url('../fonts/neotechstd/neotechstd-medium.ttf') format('truetype'),
         url('../fonts/neotechstd/neotechstd-medium.svg#NeoTechStdMedium') format('svg');
}

/************* header *******/

header.navbar{
  background-color: #F1F1F2;
  border-bottom: 1px solid #F2F2F2;
  -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  min-height: 45px;
}

header.navbar .container-fluid{
  margin-top: 2px;
}

.navbar-fixed-top{
  background-color: #F1F1F2;
  padding: 0;
}

.navbar-fixed-top .navbar-toggle{
  padding: 5px 0 5px;
  font-size: 13px;
}

.navbar-default .navbar-toggle {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-collapse.in .navbar-nav > li:hover{
  background: #E8E8E8;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 0;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent
}

nav.container-fluid{
  max-width: 1200px;
  background-image: none;
  padding: 3px 15px 2px;
}
ul.navbar-nav > li:hover {
  background-color: #E8E8E8;
}

.logo-fl-header,
.logo-f-header{
  float: left;
}
.logo-fl-header{
  width: 158px;
}
.logo-f-header{
  width: 118px;
}
.brand{
  margin: 0 0 0 -8px !important;
  padding: 0 !important;
}
.brand img.fiware-lab {
  margin-top: 4px;
  width: 158px !important;
}
.brand img.fiware {
  margin-top: 4px;
  width: 118px !important;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #193B6B;
  background-color: #FFF;
}

ul.navbar-nav > li {
  font-family: "NeoTechRegular";
}


@media (min-width: 768px){

  .navbar-fixed-top .navbar-nav > li > a {
    line-height: 0;
    padding-top: 24px;
    padding-bottom: 18px;
    font-size: 14px;
  }
  .navbar-nav>li>a {
    line-height: 0;
    padding-top: 24px;
    padding-bottom: 18px;
    font-size: 14px;
  }
  header.navbar{
    max-height: 45px;
  }
}

@media (max-width: 767px){
  .navbar-collapse.in {
    padding-bottom: 20px;
  }
  header .navbar ul.nav{
    margin-top: 0px;
  }
  .logo-header{
    width: 152px !important;
  }
  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }
  .dropdown i {
    margin-left: 2px;
  }
}
@media (min-width: 768px) and (max-width: 979px){
  header.navbar ul{
    margin-top: 0px    
  }
  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #193B6B;
  background-color: #FAFAFA;
}
.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
  background-color: #E8E8E8;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}