{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}


{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm_admin:user_accounts:update' user.id %}{% endblock %}


{% block modal_id %}user_accounts{% endblock %}
{% block modal-header %}
    {% include "horizon/common/_domain_page_header.html" with title="Manage User Account" %}
{% endblock %}

{% block modal-body %}

User: {{ user.username }}, {{ user.name }}

<fieldset>
    {% include "horizon/common/_form_fields.html" %}
</fieldset>

{% endblock %}

{% block modal-footer %}

    <button type="submit" class="btn btn-primary">Update</button>

{% endblock %}
