{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}


{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm_admin:user_accounts:update' user.id %}{% endblock %}


{% block modal_id %}user_accounts{% endblock %}
{% block modal-header %}
    {% include "horizon/common/_domain_page_header.html" with title="Manage User Account" %}
{% endblock %}

{% block modal-body %}

User: {{ user.username }}, {{ user.name }}

<fieldset>
    {% include "horizon/common/_form_fields.html" %}
</fieldset>
  <script type="text/javascript">
    $(document).ready(function(){

      function show_regions(){
        var account_type = $("#id_account_type option:selected").text();
        if (account_type == 'basic'){
          $('#id_region').closest('div.form-group').hide();
          $('#id_region').val('')

        } else if (account_type == 'trial') {
          $('#id_region').closest('div.form-group').show();
          
        } else if (account_type == 'community') {
          $('#id_region').closest('div.form-group').show();
        }
      };
      show_regions();

      $('#id_account_type').on('change', show_regions);
    });
  </script>
{% endblock %}

{% block modal-footer %}

    <button type="submit" class="btn btn-primary">Update</button>

{% endblock %}
