{% load staticfiles %}
<!DOCTYPE html>
<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></head>
<body>
  <div style=" background-color: #F1F1F2; min-height: 300px; padding-bottom: 40px; width: 100%; display: block;">
    <div style="margin: 0 auto; min-height: 300px; width: 700px; display: block;">
      <img title='FIWARE-Lab' alt='FIWARE-Lab' style="width: 700px; height: 70px; display: block; margin: auto;" src="{% static "dashboard/img/mail/header-email.png" %}">
      <!--notification-->
      <div style="width: 670px; height: auto; padding: 20px 15px 10px; margin: 15px auto 30px; color: #666; background-color: #FFF; font-size: 13px; font-family: "verdana";">
        <span style="display: block;margin-bottom: 10px;">
            Dear FIWARE Lab user,
        </span>
        <p>
          {{ content }}
        </p>
        {% if massive_footer == True %}
          ---
          <p>
            {% include "email/_massive_email_footer.html" %}
          </p>
        {% endif %}
        
        <div style="font-size: 11px; border-top:1px solid #48B9C9; margin-top: 30px; margin-bottom: 30px;"><span style="  border-top: 1px solid #FF0; border-bottom: 1px solid #193B6B; height: 0px; width: 100%; float: left; margin-bottom: 15px;"></span>
          2015 © <a href="http://www.fiware.org/" style="color: #193B6B; text-decoration: none;" onMouseOver= "this.style.cssText= 'color: #48B9C9; text-decoration: none;'" onMouseOut= "this.style.cssText= 'color: #193B6B; text-decoration: none;'">FIWARE</a>.
        </div>
      </div>
    </div>
  </div>
</body>
</html>
