{% load staticfiles %}
<!DOCTYPE html>
<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></head>
<body>
<div style="background-color: #F1F1F2; position: static; min-height: 300px; width: 100%; display: block;">
  <img title='FIWARE-Lab' alt='FIWARE-Lab' style="width: 700px; height: 70px; display: block; margin: auto;" src="{% static "dashboard/img/mail/header-email.png" %}">
  <div style="width: 670px; height: auto; color: #666; background-color: #FFF; font-size: 13px; margin: 15px auto 30px; padding: 20px 15px 10px;" verdana>
    <span style="display: block; margin-bottom: 10px;">
        Dear FIWARE Lab user,
    </span>
    <span>
      {{ content }}
    </span>
    {% if massive_footer == True %}
      <div>
        {% include "email/_massive_email_footer.html" %}
      </div>
    {% endif %}
    
    <div style="font-size: 11px; border-top-color: #ccc; border-top-width: 1px; border-top-style: solid; margin-top: 20px; padding: 9px 0px 0;">
      2014 © <a style="text-decoration: none;" href="http://www.fiware.org/" onmouseover="this.className='color-hover'; " onmouseout="this.className='color-link'; ">FIWARE</a>.
    </div>
  </div>
</div>
</body>
</html>
