<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>

<body>
  <table style="background-color: #F1F1F2; min-height: 300px; padding-bottom: 40px; border:0;" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <table style="padding-top: 15px; border:0;" cellpadding="0" cellspacing="0" width="700">
            <thead style="background-color: #999;">
             <tr><td>
              <img title='FIWARE-Lab' alt='FIWARE-Lab' style="height: 70px;" src="{% static "dashboard/img/mail/header-email.png" %}">
              </td></tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <!--notification-->
                  <div style="height: auto; padding: 20px 15px 10px; color: #666; background-color: #FFF; font-size: 13px; font-family:verdana">
                    <span style="display: block;padding-bottom: 10px;">
                        Dear FIWARE Lab user,
                    </span>
                    <p>
                      blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla blablabla bla blabla bla.
                    </p>
                    ---
                    <p>
                      You are receiving this message because you are a registered <a href="https://account.lab.fiware.org" style="color: #193B6B; text-decoration: none;" onMouseOver= "this.style.cssText= 'color: #48B9C9; text-decoration: none;'" onMouseOut= "this.style.cssText= 'color: #193B6B; text-decoration: none;'">FIWARE Lab user</a>. 
                      Should you wish to remove your account, you need to follow four simple steps: <ol><li>Log on 

                      <a href="https://account.lab.fiware.org" style="color: #193B6B; text-decoration: none;" onMouseOver= "this.style.cssText= 'color: #48B9C9; text-decoration: none;'" onMouseOut= "this.style.cssText= 'color: #193B6B; text-decoration: none;'" href="http://www.fi-ware.org/">FIWARE Lab user</a> </li><li>Click on the dropdown menu next to your user name (upper right corner)</li><li>Select \"Settings\"</li><li>Click on \"Cancel account\" and confirm.</li></ol>
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot style="background-color: #FFF;">
            <tr>
              <td style="border-top:1px solid #48B9C9;"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #FF0; border-bottom: 1px solid #193B6B; height: 0px; width: 100%; display:block;"></tr>
            </tr>
            <tr>              
              <td style="padding:15px 15px 0px; display: block; padding-bottom: 30px; font-family:verdana; font-size: 11px;">
                  2015 © 
                  <a style="color: #193B6B; text-decoration: none;" href="http://www.fi-ware.org/" onMouseOver= "this.style.cssText= 'color: #48B9C9; text-decoration: none;'" onMouseOut= "this.style.cssText= 'color: #193B6B; text-decoration: none;'">FIWARE</a>.
              </td>
            </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

</body>
</html>
