{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% load form_helpers %}

{% block form_class %}{% endblock %}
{% block form_action %}{{form.action}}{% endblock %}
{% block form_enctype %}multipart/form-data{% endblock %}

{% block modal_class %}edit{% endblock %}
{% if form.title == 'Change your avatar' %}{% block modal_id %}update-avatar-modal{% endblock %}{% endif %}
{% block modal-header %}
{{form.title}}
{% endblock %}

{% block modal-body %}

{% if form.title == 'Change your avatar' %}
<div class="row">
	<div{% if not using_gravatar %} class="avatar_col col-md-6 used-avatar"{% else %} class="avatar_col col-md-6"{% endif %}>
		<div class="profile_img">
			<img src="{{ uploaded_image }}" alt="your uploaded image"   />
		</div>
		<button class="btn btn-primary always-enabled" {% if not using_gravatar %}disabled="true" {% endif %}name="use_uploaded_image" type="submit">Use this image</button>
		<div class="clear_right"></div>
		<button class="btn btn-primary always-enabled ajax-modal" href="{% url 'horizon:idm:users:delete_image' user_id %}"{% if no_uploaded_image %} disabled="true"{% endif %}>Delete this image</button>

	</div>

	<div{% if using_gravatar %} class="avatar_col col-md-6 used-avatar"{% else %} class="avatar_col col-md-6"{% endif %}>
		{% if gravatar_image %}
		<div class="profile_img">
			<img id="gravatar-preview" src="{{ gravatar_image }}" alt="your gravatar"   />
		</div>
		<button class="btn btn-primary always-enabled" {% if using_gravatar %}disabled="true" {% endif %}name="use_gravatar" type="submit">Use Gravatar</button>
		<div class="clear_right"></div>
		<a class="btn btn-primary always-enabled" href="https://en.gravatar.com/emails/" target="_blank">Edit at Gravatar</a>
		{% else %}
		<p>We're compatible with Gravatar. Create your profile <a href="https://en.gravatar.com/" target="_blank">here</a>!</p>
		{% endif %}
	</div>
</div>
<div>
	<fieldset>
		<h6>Upload an image</h6> {% include "horizon/common/_form_fields.html" %}
	</fieldset>
</div>

<div id="avatar-update-container">
</div>

{% else %}
<div >
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endif %}
{% endblock %}

{% block modal-footer %}
	{% if form.title == 'Change your avatar' %}
	{% else %}
	<button type="submit" class="btn btn-primary">{% trans "Update User" %} </button>
	{% endif %}
{% endblock %}
