{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'fiware_oauth2_authorize' %}{% endblock %}

{% block modal_id %}authorize_application_modal{% endblock %}
{% block modal-header %}
  <h3>Authorize {{ application.name }}?</h3>
{% endblock %}

{% block modal-body %}
  <dl class="dl-horizontal">
    <p>
      The application <a href="{% url 'horizon:idm:myApplications:detail' application.id %}">{{ application.name }}</a> will be able to:
    </p>
    • Read your public information
  </dl>
  {% if oauth_data.error %}
  <dl class="dl-horizontal">
    <dt>An error occurred:</dt> 
    <dd>{{ oauth_data.error }}</dd>
  </dl>
  {% endif %}

  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <a href="{% url 'fiware_oauth2_cancel_authorize' %}" class="secondary cancel btn btn-danger">{% trans "Cancel" %}</a>
  <button type="submit" class="btn btn-primary">{% trans "Accept" %}</button>
  
{% endblock %}
