{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}remove_org{% endblock %}
{% block form_action %}{% url 'horizon:idm:organizations:remove' organization_id=organization_id %}{% endblock %}
{% block form_class %}{% if inline_forms %}ajax-inline-create{% endif %}{% endblock %}

{% block modal-header %}
    <h4 class="modal-title">Remove from organization</h4> 
{% endblock %}

{% block modal-body %}
    <p>Are you sure you want to exit this organization?</p>
    <p><i class="fa fa-note"></i>You will have to log in again to access your account after this change.</p>

    <fieldset>
    	{% include "horizon/common/_form_fields.html" %}
  	</fieldset>
{% endblock %}



    <!-- Modal 
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Exit of this organization</h4>
          </div>
          <div class="modal-body">
            <span>Are you sure?</span>
            <button type="button" class="btn btn-danger pull-right">Exit</button>
          </div>
        </div>
      </div>
    </div> -->



{% block modal-footer %}
  <input class="btn btn-danger pull-right {% if inline_forms%}ajax-inline-create always-enabled{% endif %}" 
    type="submit" 
    value="{% trans "Remove" %}" />
{% endblock %}