{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}


{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm_admin:notify:index' %}{% endblock %}


{% block modal_id %}notify{% endblock %}
{% block modal-header %}
    {% include "horizon/common/_domain_page_header.html" with title="Notify" %}
{% endblock %}

{% block modal-body %}

  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>

  <script type="text/javascript">
    $(document).ready(function(){
      // hide the organization id field by default
      $('#id_organization').closest('div.form-group').hide();
      $('#id_user_ids').closest('div.form-group').hide();

      $('#id_notify').on('change', function() {
        if (this.value == 'organization') {
          $('#id_organization').closest('div.form-group').show();
          $('#id_user_ids').closest('div.form-group').hide();
        } else if (this.value == 'all_users') {
          $('#id_organization').closest('div.form-group').hide();
          $('#id_user_ids').closest('div.form-group').hide();
        } else if (this.value == 'users_by_id') {
          $('#id_organization').closest('div.form-group').hide();
          $('#id_user_ids').closest('div.form-group').show();
        }
      });
    });
  </script>
{% endblock %}

{% block modal-footer %}

    <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>

{% endblock %}
