{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Applications" %}{% endblock %}

{% block page_header %}{% endblock page_header %}

{% block main %}
<div id="detailApplication">
  <header>
    <h4 class="name">
      {{ application.name }} 
      {% if edit %}
      <a href="{% url 'horizon:idm:myApplications:edit' application.id %}" class="small"><i class="fa fa-edit"></i><span>edit</span></a>
      {% endif %}
      {% if manage_roles %}
      <a href="{% url 'horizon:idm:myApplications:roles_manage' application.id %}" class="small"><i class="fa fa-cogs"></i><span>manage roles</span></a>
      {% endif %}
    </h4>
    <div class="logo">
      <img alt="application logo" src="{{ image }}">
    </div> 
  </header>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="description">
        <h5>
          Description
        </h5>

        <div class="info expander">
          <p>{{ application.description }}</p>
        </div>
      </div>
      
      <div class="url">
        <h5>URL</h5>      
        <p>{{ application.url }}</p>
      </div>
      <div class="callback_url">
        <h5>Callback URL</h5>               
        <p>{{ application.redirect_uris.0 }}</p>
      </div>
      {% if viewCred %}
      <div class="extra">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse_oauth2_credentials" aria-expanded="true" aria-controls="collapse_oauth2_credentials">
            OAuth2 Credentials
          </a>
        </h4>
        <div id="collapse_oauth2_credentials" class="form-group collapse" role="tabpanel">
          <div>
            <h6 class="panel-heading">Client ID</h6>               
            <p>{{ application.id }}</p>
          </div>
          <div>
            <h6 class="panel-heading">Client Secret</h6>               
            <p>{{ application.secret }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="panel panel-default members">
    <div class="panel-heading">
      <span>{{ auth_users_table }}</span> 
      {{ auth_users_table.render_table_actions }}
    </div>
    <div class="panel-body">
      {% if auth_users_table.get_rows %}
      {{ auth_users_table.render}}
      {% else %}
      <p class="alert alert-info empty">{{ application.name }} does not have any authorized users.</p>
      {% endif %}
    </div>
    {% if auth_users_table.indexes|length > 1 and auth_users_table.indexes %}
    <div class="panel-footer">
      <nav>
        <ul class="pagination">
        <li {%if auth_users_table.index_act = auth_users_table.index_first %}class="active"{%endif%}>
              <a href="?index_mem={{auth_users_table.index_first}}&index_org={{index_org}}"><span aria-hidden="true">First</span></a>
          </li>
          <!--<li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>-->
          {% for index, num in auth_users_table.indexes %}
            <li {%if auth_users_table.index_act = index %}class="active"{%endif%}>
              <a href="?index_mem={{index}}&index_org={{index_org}}">{{ num }}</a>
            </li>
          {% endfor %}
          <li {%if auth_users_table.index_act = auth_users_table.index_last %}class="active"{%endif%}>
              <a href="?index_mem={{auth_users_table.index_last}}&index_org={{index_org}}"><span aria-hidden="true">Last</span></a>
          </li>
          <!--<li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>-->
        </ul>
      </nav>
    </div>
    {% endif %}
  </div>

  <div class="panel panel-default organizations">
    <div class="panel-heading">
      <span>{{ organizations_table }}</span>
      {{ organizations_table.render_table_actions }}
    </div>
    <div class="panel-body">
      {% if organizations_table.get_rows %}
      {{ organizations_table.render}}
      {% else %}
      <p class="alert alert-info empty">{{ application.name }} does not have any authorized organizations.</p>
      {% endif %}
    </div>
  {% if organizations_table.indexes|length > 1 and organizations_table.indexes %}
    <div class="panel-footer">
      <nav>
        <ul class="pagination">
          <li {%if organizations_table.index_act = organizations_table.index_first %}class="active"{%endif%}>
                <a href="?index_mem={{index_mem}}&index_org={{organizations_table.index_first}}"><span aria-hidden="true">First</span></a>
          </li>
          <!--<li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>-->
          {% for index, num in organizations_table.indexes %}
            <li {% if organizations_table.index_act = index%}class="active"{%endif%}>
              <a href="?index_mem={{index_mem}}&index_org={{index}}">{{ num }}</a>
            </li>
          {% endfor %}
          <li {%if organizations_table.index_act = organizations_table.index_last %}class="active"{%endif%}>
              <a href="?index_mem={{index_mem}}&index_org={{organizations_table.index_last}}"><span aria-hidden="true">Last</span></a>
          </li>
          <!--<li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>-->
        </ul>
      </nav>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}

