<script>
  var enableServiceURL = "{% url 'horizon:endpoints_management:endpoints_management:enable_service' 'serviceName' %}",
  disableServiceURL = "{% url 'horizon:endpoints_management:endpoints_management:disable_service' 'serviceName' %}",
  resetServiceURL = "{% url 'horizon:endpoints_management:endpoints_management:reset_service' 'serviceName' %}",
  newServiceName = '{% if new_service_name %}{{ new_service_name }}{% endif %}',
  newServicePassword = '{% if new_service_password %}{{ new_service_password }}{% endif %}',
  endpointsUserRegion = '{{ endpoints_user_region }}',
  highlighted_service = '{{ highlighted_service }}';

  function validateURL(url) {
    var pattern = new RegExp('^(https?:\\/\\/)'+ // protocol
     '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
     '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
     '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
     '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
     '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    
    if(!pattern.test(url)) {
      return false;
    } else {
      return true;
    }
  };

  $(function() {
    var inputFieldID = highlighted_service.charAt(0).toUpperCase() + highlighted_service.slice(1) + '_radio';
    $("#" + inputFieldID).click();
  })

  // show service info and/or endpoints when clicking on service
  $("input[type=radio]").change(function (evt) {
    if (!($(this).is(':checked'))) {
      return;
    }

    // hide info message
    $('.endpoints_info_message').hide();
    // show service description
    $('#service_description p, #service_description h5, #service_description a, #service_username h6:nth-child(3), #service_username p.info').remove();
    $('#service_description').append('<h5>' + $(this).attr('data-service-type') + '</h5>');
    $('#service_description').append('<p>' + $(this).attr('data-service-description') + '</p>');

    // if service is enabled, show username and endpoints
    serviceName = $(this).attr('id').split('_radio')[0].toLowerCase();
    if ($("[data-service-name='" + serviceName + "']").length > 0){

      // show endpoints and username containers
      $('#endpoints_list').show();
      $('#service_username').show();

      // add disabling button
      $("<a/>", {
          class: 'btn btn-default secondary',
          id: 'disable-service-button',
          text: 'Disable service',
          "data-toggle": "modal",
          "data-target": "#disable_service_modal",
      }).appendTo("#service_description");

      $('#disable_service_form').attr('action', $('#disable_service_form').attr('action').replace('serviceName', serviceName));

      // show username and password, if any
      $("#service_username p").html(serviceName + '-' + endpointsUserRegion);
      if (newServiceName === serviceName){
        $passwordField = $("#service_username div div:first-child").append('<h6 class="panel-heading">Password</h6><p class="info">' + newServicePassword + '</p>');
      }

      // link reset password button
      $('#service_username a').attr('href', resetServiceURL.replace('serviceName', serviceName))

      // fill endpoints
      {% for region in endpoints_allowed_regions %}
      $('#public_endpoint_{{ region }}').val($("[data-service-name='" + serviceName + "'][data-endpoint-interface='public'][data-endpoint-region='{{ region }}']").val());
      $('#internal_endpoint_{{ region }}').val($("[data-service-name='" + serviceName + "'][data-endpoint-interface='internal'][data-endpoint-region='{{ region }}']").val());
      $('#admin_endpoint_{{ region }}').val($("[data-service-name='" + serviceName + "'][data-endpoint-interface='admin'][data-endpoint-region='{{ region }}']").val());
      {% endfor %}
    } else {

      $('#endpoints_list').hide();
      $('#service_username').hide();
      $("<a/>", {
          href: enableServiceURL.replace('serviceName', serviceName),
          class: 'btn btn-default secondary',
          id: 'enable-service-button',
          "data-service-name": serviceName,
          text: 'Enable service',
      }).appendTo("#service_description");
    }
  });

  // fill in hidden form when typing
  $(".endpoint input")
    .keyup(function() {
      var interface = $(this).attr('id').split('_')[0];
      var region = $(this).attr('id').split('_')[2];

      var new_url = $(this).val();
      $("[data-service-name='" + serviceName + "'][data-endpoint-interface='" + interface + "'][data-endpoint-region='" + region + "']").val(new_url);

      $(window).bind('beforeunload', function(){
        return 'Are you sure you want to leave?';
      });
    }).focusout(function() {
      if (!validateURL($(this).val())) {
        $(this).addClass('weak_pwd_input');
      } else {
        $(this).removeClass('weak_pwd_input');
      }
  });

  $("#manage_endpoints_form").submit(function(){
    $(window).unbind('beforeunload');
  });

</script>